@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

$brand-font: 'Lato', sans-serif;

$light: 300;
$regular: 400;
$medium: 700;
$bold: 900;

body{
	font-family: $brand-font;
	@include font-size(18px);
	color: $black;
}
